name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: "Directory"
      run: pwd
      
    - name: "Sub-Directory"
      run: find .ยง

    - name: Build
      run: go build -v ./src/...

    - name: Test
      run: go test --cover -v ./src/...
